body {
    background-color: black;
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color:springgreen;
}

h1 {
    font-size:200%;
    font-weight:bold;
}

p {}

table {
    font-size:150%;
}

td {
    text-align:center;
}

th, td {
    padding: 5px;
}
